body{
    min-width:400px;
    border: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 1.5rem;
    text-decoration: underline;
}

.news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

a{
    text-decoration: none;
    border: 2px solid black;
    color: black;
    font-size: 1rem;
    border-radius: 50px;
    width: 100px;
    padding-left: 30px;
    font-weight: bolder;
}

a:hover{
    background-color: black;
    color: aliceblue;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-top: 2%;
}

#next,#previous{
    width: 100px;
    border: 2px solid darkgreen;
    color:white;
    background-color: rgb(37, 211, 37);
    font-size: 1rem;
    border-radius: 50px;
    width: 100px;
    font-weight: bolder;
}

#next:hover,#previous:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(37,211,37);
}